*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6{
    color: #FFFFFF;
}

p{
    color: #FFFFFF;
    font-size: 50px;
}

.Parag{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FF0000;
    padding: 0px 50px;
}
.NavBarRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.NavBarRight p,
.NavBarRight button{
    margin: 0px 10px;
}
.Communication {
    font-size: 15px;
}

.Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Menu{
    display: none;
}

.Card {
    border: 1px solid #FFFFFF;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
    width: 200px;
}

.Note {
    color: red;
    font-weight: 700;
    padding: 0;
}
    